<ul>
  <h2>Comunicación entre elementos relacionados</h2>
  <li>
    <button routerLink="padre-hijo" routerLinkActive="router-link-active">Padre -> Hijo</button>
  </li>
  <li>
    <button routerLink="hijo-padre" routerLinkActive="router-link-active">Hijo -> Padre</button>
  </li>
  <li>
    <button routerLink="hermanos" routerLinkActive="router-link-active">Hermanos</button>
  </li>
</ul>
<ul>
  <h2>Comunicación entre elementos sin relación entre sí</h2>
  <li>
    <button routerLink="goku-vegeta" routerLinkActive="router-link-active">Service</button>
  </li>
</ul>
<router-outlet></router-outlet>
